.product {
    width: 300px;
    border-radius: 10px !important;
}

.productCover {
    background-color: #F1F1F1;
    margin: 20px;
    margin-bottom: 0;
    padding: 20px 40px;
    border-radius: 10px;
}

.productCover img {
    border-radius: 10px;
}

.productBody {
    padding: 0 20px !important;
    padding-top: 10px !important;
}

.productFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px !important;
    padding-bottom: 20px !important;
}

@media only screen and (max-width:350px) {
    .product {
        width: 100%;
    }
}