.loginForm {
    padding: 40px 30px;
    width: 400px;
}

@media only screen and (max-width: 500px) {

    .loginForm {
        width: calc(100% - 60px);
    }

    .socialOption,
    .social-auth-container {
        width: 100%;
    }
}